@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Amatic;
  src: url("../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}
